
<input type="text" ng-model="name" placeholder="name"></br>

<input type="text" ng-model="city" placeholder="city"></br>

<input type="text" ng-model="school" placeholder="school"></br>

<input type="text" ng-model="work" placeholder="work"></br>

<input type="text" ng-model="artist1" placeholder="artist"></br>

<input type="text" ng-model="artist2" placeholder="artist"></br>

<input type="text" ng-model="artist3" placeholder="artist"></br>

<button type="button" ng-click="totalInput()">Submit</button></br></br>

{{paragraph}}
